---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto mt-4 p-2 md:p-4">
    <div
      class="m-auto flex w-[fit-content] items-center rounded-md bg-verde-900"
    >
      <span class="relative -left-1 block size-2 rounded-full bg-verde-300"
      ></span>
      <div
        class="flex divide-x-2 divide-verde-800 text-verde-300 *:px-4 *:py-2"
      >
        <div class="capitalize" id="dia">segunda</div>
        <div id="temperatura">25℃</div>
        <div id="tempo">⛅</div>
      </div>
    </div>

    <header class="container flex items-center justify-between gap-8 py-8">
      <a href="/">
        <img src="./img/forest.svg" alt="Forest Logo" />
      </a>
      <nav
        id="mobile-menu"
        class="z-40 hidden items-center max-lg:fixed max-lg:inset-0 lg:block"
      >
        <div class="fixed inset-0 bg-verde-950/40 backdrop-blur-md lg:hidden">
        </div>
        <ul
          class="absolute inset-0 z-50 w-full p-8 text-2xl text-white *:p-4 *:capitalize *:hover:bg-white/10 max-lg:divide-y-2 max-lg:divide-white/10 lg:static lg:flex lg:flex-wrap lg:items-center lg:gap-8 lg:p-0 lg:text-xl lg:*:hover:bg-transparent lg:*:hover:underline lg:*:hover:underline-offset-8"
        >
          <li class="animate-slideIn opacity-0">
            <a href="#acomodacoes">acomodações</a>
          </li>
          <li class="animate-slideIn opacity-0 animate-delay-2">
            <a href="#eventos">eventos</a>
          </li>
          <li class="animate-slideIn opacity-0 animate-delay-3">
            <a href="#experiencias">experiência</a>
          </li>
          <li class="animate-slideIn opacity-0 animate-delay-4">
            <a href="#contato">contato</a>
          </li>
        </ul>
      </nav>

      <button
        id="mobile-button"
        class="flex items-center gap-3 rounded-full bg-verde-400 px-4 py-2 text-verde-900 lg:hidden"
      >
        Menu
        <span
          class="flex h-3 w-4 flex-col justify-between *:h-0.5 *:rounded-md *:bg-verde-800"
        >
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
    </header>

    <main class="container">
      <div
        class="relative overflow-hidden rounded-xl bg-linear-to-t from-verde-950/80 px-4 pt-12 pb-8 text-white sm:px-8 sm:pt-64"
      >
        <img
          src="./img/floresta.jpg"
          alt="background forest"
          class="absolute inset-0 -z-1 size-full object-cover"
        />

        <video
          id="video"
          muted
          playsinline
          loop
          autoplay
          width="1280"
          height="720"
          class="absolute inset-0 -z-1 size-full object-cover"
          src="./img/video_chuva.mp4"></video>
        <div
          class="mb-8 inline-flex items-center gap-4 rounded-full bg-verde-950/70 py-2 pr-2 pl-4 text-center text-sm text-balance sm:bg-verde-950 sm:text-base"
        >
          Vagas para dezembro abertas
          <a
            href="#"
            class="inline-block rounded-full bg-verde-400 px-4 py-2 text-nowrap text-verde-900"
          >
            Reserve Hoje
          </a>
        </div>
        <h1
          class="mb-10 max-w-screen-sm font-serif text-4xl text-balance sm:mb-20 sm:text-5xl"
        >
          Venha Experimentar a Vida na Floresta
        </h1>
        <div
          class="flex flex-col justify-start gap-8 text-sm sm:flex-row sm:items-end sm:justify-between"
        >
          <p class="-mb-1">
            Melhores locais para visitar em
            <a
              href="#"
              class="underline decoration-2 underline-offset-4 hover:no-underline"
            >
              2025
            </a>
          </p>
          <div>
            <p class="mb-2 uppercase">Recomendado por</p>
            <p class="flex items-center gap-4">
              <img class="w-28" src="./img/parceiros/wildbeast.svg" alt="" />
              <span>|</span>
              Revista Nacional
            </p>
          </div>
        </div>
      </div>
    </main>

    <section
      id="acomodacoes"
      class="container mt-16 mb-12 grid items-end gap-8 bg-[url('./img/padrao.svg')] bg-contain bg-top-left bg-no-repeat sm:mb-16 sm:grid-cols-[2fr_2fr] md:grid-cols-[2fr_3fr]"
    >
      <div>
        <h2 class="mb-8 font-serif text-3xl text-white sm:text-4xl">
          Refúgio Natural
        </h2>
        <ul
          class="grid gap-4 text-gray-200 *:flex *:items-center *:gap-4 *:before:inline-block *:before:h-0.5 *:before:w-6 *:before:bg-verde-400 sm:text-xl"
        >
          <li>Experimente a natureza de perto</li>
          <li>Conecte-se com a natureza</li>
          <li>Desconecte-se do digital</li>
          <li>Observe a vida selvagem</li>
          <li>Escolha a sua cabine preferida</li>
        </ul>
      </div>

      <div class="grid gap-4 *:max-h-90 sm:grid-cols-2">
        <figure class="relative col-span-full">
          <img
            class="size-full rounded-xl object-cover"
            src="./img/casa1.jpg"
            alt="Casa Ruby"
          />
          <figcaption
            class="absolute top-2 right-2 rounded-full bg-verde-950/80 px-4 py-2 text-white uppercase"
          >
            ruby
          </figcaption>
        </figure>
        <figure class="relative">
          <img
            class="size-full rounded-xl object-cover"
            src="./img/casa2.jpg"
            alt="Casa Ruby"
          />
          <figcaption
            class="absolute top-2 right-2 rounded-full bg-verde-950/80 px-4 py-2 text-white uppercase"
          >
            emerald
          </figcaption>
        </figure>
        <figure class="relative">
          <img
            class="size-full rounded-xl object-cover"
            src="./img/casa3.jpg"
            alt="Casa Ruby"
          />
          <figcaption
            class="absolute top-2 right-2 rounded-full bg-verde-950/80 px-4 py-2 text-white uppercase"
          >
            safari
          </figcaption>
        </figure>
      </div>
    </section>
  </div>

  <section id="eventos" class="mb-12 bg-verde-900 py-12">
    <div class="container mx-auto">
      <p
        class="mb-4 text-center text-sm tracking-widest text-verde-200 uppercase"
      >
        Conecte-se com a natureza
      </p>
      <h2
        class="mx-auto mb-8 max-w-screen-md text-center font-serif text-4xl text-balance text-white sm:text-6xl"
      >
        Cada Som, Cada Momento, Uma Nova Descoberta
      </h2>

      <div
        class="[&::-webkit-scrollbar-track]:bg-trasparent grid snap-x snap-mandatory grid-cols-[repeat(3,minmax(300px,1fr))] gap-4 overflow-x-auto pb-4 [scrollbar-color:transparent_transparent] *:snap-center [&::-webkit-scrollbar]:w-0.5 [&::-webkit-scrollbar-thumb]:bg-transparent dark:[&::-webkit-scrollbar-thumb]:bg-transparent dark:[&::-webkit-scrollbar-track]:bg-transparent"
      >
        <div class="grid gap-4 rounded-xl bg-verde-800 p-6">
          <h3 class="font-serif text-2xl text-verde-300">Lua Nova</h3>
          <div class="text-white">
            <p class="font-serif text-5xl">23</p>
            <p class="text-xl">Março 2025</p>
          </div>
          <p class="text-balance text-gray-300">
            Melhor período para observação astronômica. O céu estará claro e as
            estrelas visíveis.
          </p>
          <a
            href="#"
            class="inline-block justify-self-start rounded-full bg-verde-400 px-4 py-2 text-verde-900"
            >Reservar 23/03</a
          >
        </div>

        <div class="grid gap-4 rounded-xl bg-verde-800 p-6">
          <h3 class="font-serif text-2xl text-verde-300">Aurora Boreal</h3>
          <div class="text-white">
            <p class="font-serif text-5xl">15</p>
            <p class="text-xl">Abril 2025</p>
          </div>
          <p class="text-balance text-gray-300">
            Melhor período para observação astronômica. O céu estará claro e as
            estrelas visíveis.
          </p>
          <a
            href="#"
            class="inline-block justify-self-start rounded-full bg-verde-400 px-4 py-2 text-verde-900"
            >Reservar 15/04</a
          >
        </div>

        <div class="grid gap-4 rounded-xl bg-verde-800 p-6">
          <h3 class="font-serif text-2xl text-verde-300">Chuva de Meteoros</h3>
          <div class="text-white">
            <p class="font-serif text-5xl">15</p>
            <p class="text-xl">Agosto 2025</p>
          </div>
          <p class="text-balance text-gray-300">
            Melhor período para observação astronômica. O céu estará claro e as
            estrelas visíveis.
          </p>
          <a
            href="#"
            class="inline-block justify-self-start rounded-full bg-verde-400 px-4 py-2 text-verde-900"
            >Reservar 18/08</a
          >
        </div>
      </div>
    </div>
  </section>

  <!-- experiências -->
  <section
    id="experiencias"
    class="container mx-auto grid max-w-screen-xl gap-4 p-2 sm:grid-cols-2"
  >
    <div class="rounded-xl bg-verde-900 p-8">
      <p class="mb-4 text-sm tracking-widest text-verde-200 uppercase">
        Experiências exclusivas
      </p>
      <h2
        class="mx-auto mb-8 max-w-screen-md font-serif text-3xl text-balance text-white sm:text-4xl"
      >
        Escolha Sua Próxima Aventura
      </h2>

      <ul class="">
        <li>
          <h3
            class="flex items-center gap-4 text-xl text-white before:inline-block before:h-0.5 before:w-6 before:bg-verde-400 before:transition-[width] hover:before:w-10"
          >
            Observação Noturna
          </h3>
          <p class="mb-8 pl-10 text-balance text-gray-400">
            Explore a vida selvagem em seu habitat natural sob as estrelas
          </p>
        </li>
        <li>
          <h3
            class="flex items-center gap-4 text-xl text-white before:inline-block before:h-0.5 before:w-6 before:bg-verde-400 before:transition-[width] hover:before:w-10"
          >
            Vida Selvagem
          </h3>
          <p class="mb-8 pl-10 text-balance text-gray-400">
            Oberve a vida selvagem em seu habitat natural
          </p>
        </li>
        <li>
          <h3
            class="flex items-center gap-4 text-xl text-white before:inline-block before:h-0.5 before:w-6 before:bg-verde-400 before:transition-[width] hover:before:w-10"
          >
            Canoagem
          </h3>
          <p class="mb-8 pl-10 text-balance text-gray-400">
            Conquiste novos horizontes com nossa equipe especializada
          </p>
        </li>
      </ul>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4">
      <figure class="group relative cursor-pointer overflow-hidden rounded-xl">
        <img
          class="size-full object-cover transition-transform group-hover:scale-105"
          src="./img/canoagem.jpg"
          alt="canoagem"
        />
        <figcaption class="absolute bottom-4 left-4 z-10 text-white">
          Canoagem
        </figcaption>
        <div
          class="absolute inset-0 bg-gradient-to-t from-verde-950/80 opacity-0 transition-opacity hover:opacity-100"
        >
        </div>
      </figure>

      <figure
        class="group relative row-span-2 cursor-pointer overflow-hidden rounded-xl"
      >
        <img
          class="size-full object-cover transition-transform group-hover:scale-105"
          src="./img/observacao-noturna.jpg"
          alt="canoagem"
        />
        <figcaption class="absolute bottom-4 left-4 z-10 text-white">
          Observação Noturna
        </figcaption>
        <div
          class="absolute inset-0 bg-gradient-to-t from-verde-950/80 opacity-0 transition-opacity hover:opacity-100"
        >
        </div>
      </figure>

      <figure class="group relative cursor-pointer overflow-hidden rounded-xl">
        <img
          class="size-full object-cover transition-transform group-hover:scale-105"
          src="./img/vida-selvagem.jpg "
          alt="canoagem"
        />
        <figcaption class="absolute bottom-4 left-4 z-10 text-white">
          Vida Selvagem
        </figcaption>
        <div
          class="absolute inset-0 bg-gradient-to-t from-verde-950/80 opacity-0 transition-opacity hover:opacity-100"
        >
        </div>
      </figure>
    </div>
  </section>

  <section
    class="container mx-auto mb-12 bg-[url('./img/padrao.svg')] bg-contain bg-center bg-no-repeat px-2 py-16"
  >
    <p
      class="mb-4 text-center text-sm tracking-widest text-verde-200 uppercase"
    >
      Ciclo Natural
    </p>
    <h2
      class="mx-auto mb-8 max-w-screen-md text-center font-serif text-3xl text-balance text-white sm:text-4xl"
    >
      Ritmo da Floresta
    </h2>

    <div class="flex flex-col gap-4 sm:flex-row">
      <div
        class="grid flex-1 gap-4 rounded-xl bg-verde-900 p-6 outline-1 outline-verde-900 transition-all will-change-transform hover:outline-verde-700 sm:hover:-translate-y-2"
      >
        <div
          class="flex size-10 items-center justify-center rounded-full bg-verde-400"
        >
          <img src="./img/manha.svg" alt="" />
        </div>
        <h3 class="font-serif text-2xl text-white">Amanhecer</h3>
        <p class="text-gray-400">
          Desperte com o canto dos pássaros e participe das nossas caminhadas ao
          ar livre
        </p>
        <span class="text-verde-300">05:40 - 07:00</span>
      </div>

      <div
        class="grid flex-1 gap-4 rounded-xl bg-verde-900 p-6 outline-1 outline-verde-900 transition-all will-change-transform hover:outline-verde-700 sm:hover:-translate-y-2"
      >
        <div
          class="flex size-10 items-center justify-center rounded-full bg-verde-400"
        >
          <img src="./img/dia.svg" alt="" />
        </div>
        <h3 class="font-serif text-2xl text-white">Meio-dia</h3>
        <p class="text-gray-400">
          Explore nossas trilhas sombreadas e desfrute de um piquenique gourmet
          na natureza.
        </p>
        <span class="text-verde-300">11:30 - 12:30</span>
      </div>

      <div
        class="grid flex-1 gap-4 rounded-xl bg-verde-900 p-6 outline-1 outline-verde-900 transition-all will-change-transform hover:outline-verde-700 sm:hover:-translate-y-2"
      >
        <div
          class="flex size-10 items-center justify-center rounded-full bg-verde-400"
        >
          <img src="./img/noite.svg" alt="" />
        </div>
        <h3 class="font-serif text-2xl text-white">Anoitecer</h3>
        <p class="text-gray-400">
          Termine seu dia com a nossa sessão de observação de estrelas.
        </p>
        <span class="text-verde-300">17:40 - 20:00</span>
      </div>
    </div>
  </section>

  <section id="contato" class="container mx-auto mb-12 px-2">
    <div class="mx-auto grid max-w-screen-xl items-start gap-4 sm:grid-cols-2">
      <div>
        <h2 class="mb-4 font-serif text-4xl text-verde-300">Nossos Contatos</h2>
        <p class="mb-8 text-balance text-gray-200">
          Tem interesse em passar uma temporada na Forest? <br />Entre em
          contato com a gente por telefone ou e-mail.
        </p>
        <div class="grid gap-4">
          <div>
            <span class="inline-block h-0.5 w-6 bg-verde-400"> </span>
            <h3 class="mb-2 font-serif text-2xl text-verde-300">Base</h3>
            <p class="text-gray-300">
              Rua da Mata, 123 - Floresta Nacional - RJ
            </p>
          </div>

          <div>
            <span class="inline-block h-0.5 w-6 bg-verde-400"> </span>
            <h3 class="mb-2 font-serif text-2xl text-verde-300">E-mail</h3>
            <p class="text-gray-300">contato@forest.com</p>
          </div>

          <div>
            <span class="inline-block h-0.5 w-6 bg-verde-400"> </span>
            <h3 class="mb-2 font-serif text-2xl text-verde-300">Telefone</h3>
            <p class="text-gray-300">21 99999-8888</p>
          </div>
        </div>
      </div>

      <form class="grid gap-4 rounded-xl bg-verde-900 p-4" action="">
        <div class="grid gap-1">
          <label class="text-white" for="f-nome">Nome</label>
          <input
            type="text"
            name="f-nome"
            id="f-nome"
            placeholder="Seu nome"
            class="rounded-md border-2 border-verde-800 bg-verde-800 p-2 text-white placeholder:text-verde-900 focus:border-verde-900 focus:ring-2 focus:ring-verde-400 focus:outline-none"
          />
        </div>
        <div class="grid gap-4">
          <div class="grid gap-1">
            <label class="text-white" for="f-nome">E-mail</label>
            <input
              type="text"
              name="f-email"
              id="f-email"
              placeholder="Seu melhor e-mail"
              class="rounded-md border-2 border-verde-800 bg-verde-800 p-2 text-white placeholder:text-verde-900 focus:border-verde-900 focus:ring-2 focus:ring-verde-400 focus:outline-none"
            />
          </div>

          <div class="grid gap-1">
            <label class="text-white" for="f-nome">Telefone</label>
            <input
              type="text"
              name="f-telefone"
              id="f-telefone"
              placeholder="(88) 9 8888-8888"
              class="rounded-md border-2 border-verde-800 bg-verde-800 p-2 text-white placeholder:text-verde-900 focus:border-verde-900 focus:ring-2 focus:ring-verde-400 focus:outline-none"
            />
          </div>
        </div>
      </form>
    </div>
  </section>

  <!--parceiros -->
  <section class="container mx-auto mb-12">
    <ul
      class="flex flex-col items-center py-4 *:*:max-h-8 *:p-4 max-sm:divide-y-2 max-sm:divide-verde-900 sm:flex-row sm:gap-8 sm:border-t-2 sm:border-b-2 sm:border-verde-900 sm:py-8"
    >
      <li><img src="./img/parceiros/caravan.svg" alt="caravan" /></li>
      <li><img src="./img/parceiros/dogs.svg" alt="Dogs" /></li>
      <li><img src="./img/parceiros/wildbeast.svg" alt="Wildbeast" /></li>
      <li><img src="./img/parceiros/lescone.svg" alt="Lescone" /></li>
      <li><img src="./img/parceiros/surfbot.svg" alt="surfbot" /></li>
    </ul>
  </section>

  <footer class="container mx-auto pb-8">
    <div class="mb-8 grid gap-8 rounded-2xl bg-verde-900 p-6 sm:grid-cols-2">
      <div class="flex flex-col gap-4 sm:flex-row sm:gap-12">
        <div>
          <h3 class="mb-4 font-serif text-xl text-white">Endereço</h3>
          <p class="text-gray-400">
            Rua da Mata, 123<br />Floresta Nacional<br />Rio de Janeiro, RJ
          </p>
        </div>
        <div>
          <h3 class="mb-4 font-serif text-xl text-white">Contato</h3>
          <p class="text-gray-400">contato@forest.com<br />+55 21 99999-8888</p>
        </div>
      </div>
      <div class="sm:justify-self-end">
        <img class="mb-4" src="./img/forest.svg" alt="Forest" />
        <p class="text-gray-400">Conecte-se com a natureza</p>
      </div>
    </div>

    <div
      class="flex flex-col-reverse items-center gap-8 text-sm text-gray-400 sm:flex-row"
    >
      <p>© 2025 Forest. Todos os direitos reservados</p>
      <ul class="flex gap-8">
        <li><a class="hover:text-verde-300" href="#">Instagram</a></li>
        <li><a class="hover:text-verde-300" href="#">Linkedin</a></li>
        <li><a class="hover:text-verde-300" href="#">Facebook</a></li>
      </ul>
    </div>
  </footer>
</Layout>

<script>
  const mobileButton = document.getElementById("mobile-button");
  const mobileMenu = document.getElementById("mobile-menu");

  mobileButton?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("flex");
  });

  mobileMenu?.addEventListener("click", () => {
    mobileMenu?.classList.add("hidden");
    mobileMenu?.classList.remove("flex");
  });
</script>
